:root {
  --primary-color: #1992d4;
  --accent-color: #f0b429;
  --secondary-text: #636363;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.container > div {
  padding: 20px;
}

.header {
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  grid-area: header;
  z-index: 2; /* Ensure header is above for shadow display */
}

.header-title {
  display: flex;
}

.sidebar {
  background-color: var(--primary-color);
  color: white;
  grid-area: sidebar;
}

.main {
  background-color: #e2e8f0;
  grid-area: main;
}